* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url("img/top-view-photo-of-laptop-near-camera-3178938.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    
}